<!-- note this template will not work with admin! -->
<html>
<head>
<title>:: Shoutbox</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="main.css" type="text/css">
</head>
<body bgcolor="#000033" text="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="window.scrollTo(0,99999);" link="#FF9900">
  <table cellpadding="2" cellspacing="0" "border=0" width="100%" class="table1"><tr><td class="shoutbox" title="Return to the main page"><a href="index.php">Main</a></td></tr></table>
  <table cellpadding="2" cellspacing="0" "border=0" width="100%" class="table0"><tr><td class="shoutbox" title="Go here to book a flight"><a href="booking.php">Booking</a></td></tr></table>
  <table cellpadding="2" cellspacing="0" "border=0" width="100%" class="table1"><tr><td class="shoutbox" title="Detailed flight information"><a href="info.php">Flight Details</a></td></tr></table>
  <table cellpadding="2" cellspacing="0" "border=0" width="100%" class="table0"><tr><td class="shoutbox" title="Restricted access"><a href="admin">Admin</a></td></tr></table>
  <table cellpadding="2" cellspacing="0" "border=0" width="100%" class="table1"><tr><td class="shoutbox" title="Stuck?"><a href="help.php">Help</a></td></tr></table>
</body>
</html>

