<html>

<head>
<meta http-equiv="Content-Language" content="en-gb">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Template</title>
<link rel="stylesheet" href="main.css" type="text/css">
</head>

<body topmargin="0" leftmargin="0" onload="window.scrollTo(0,99999);">

  <table cellpadding="2" cellspacing="0"  width="100%" class="table0">
      <tr>
      <td width="15%" class="table"><font size="5">Kentish Air</font></td>
      <td width="100%" class="table"><p align="right"><img src="ad.gif" border=0 ALT="Advert"></p>
      </td>
    </tr>
    <tr>
      <td width="10%" class="table" valign="top">
  <table cellpadding="2" cellspacing="0" width="100%" class="table1top"><tr><td class="table" title="Return to the main page"><a href="index.php">Main</a></td></tr></table>
  <table cellpadding="2" cellspacing="0" width="100%" class="table0"><tr><td class="table" title="Go here to book a flight"><a href="booking.php">Booking</a></td></tr></table>
  <table cellpadding="2" cellspacing="0" width="100%" class="table1"><tr><td class="table" title="Detailed flight information"><a href="info.php">Flight Details</a></td></tr></table>
  <table cellpadding="2" cellspacing="0" width="100%" class="table0"><tr><td class="table" title="Restricted access"><a href="admin">Admin</a></td></tr></table>
  <table cellpadding="2" cellspacing="0" width="100%" class="table1"><tr><td class="table" title="Stuck?"><a href="help.php">Help</a></td></tr></table>
</td>
      <td width="100%" class="table" valign="top"><div align="center">
      <table cellpadding="2" cellspacing="0" width="90%" class="table1top"><tr><td class="table"><a>Main</a></td></tr></table>
      <table cellpadding="2" cellspacing="0" width="90%" class="table0"><tr><td class="table">Welcome to the new and improved OABS. As you can see I have made a few improvements to the original design. This is mainly a length test to see how far I have to go to get it to do something about it.</td></tr></table>
</div></td></tr><tr><td></td><td>
    <center><font size="1"><BR>Powered by:<A href="http://oabs.sourceforge.net">OABS v1.65exp</a>
    <BR>Coded by <a href="mailto:mark-goodall@supanet.com">Mark Goodall</a></font></center></td>
</tr>
  </table>
</body>

</html>
